[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G92 E0 ;Reset Extruder
    # move to prime position 
    G1 X2 Y30 Z0.28 F5000.0 ;Move to start position
    G1 X2 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X3 Y200.0 Z0.28 F5000.0 ;Move to side a little
    G1 X3 Y50 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up

[gcode_macro PREPARE_CHAMBER]
description: Aquece a mesa e a camara e aguarda estabilizar
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(110)|float %}
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(60)|float %}

    # 1. Previne o desligamento por inatividade
    SET_IDLE_TIMEOUT TIMEOUT=3600

    # 2. Liga a mesa
    M140 S{BED_TEMP}
    
    # 3. LIGA O AQUECEDOR DA CÂMARA (O comando que faltava)
    SET_HEATER_TEMPERATURE HEATER="chamber" TARGET={CHAMBER_TEMP}

    # 4. Homing e centralização
    G28

    # 5. Liga o blower a 25% (S64)
    M106 S64

    # 6. Aguarda a mesa
    M190 S{BED_TEMP}

    # 7. Aviso e bloqueio da câmara
    M117 Aguardando camara. Interface travada...
    TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={CHAMBER_TEMP}

    # 8. Restaura configuracoes
    M106 S0
    SET_IDLE_TIMEOUT TIMEOUT=600
    
    M117 Camara estabilizada em {CHAMBER_TEMP}C!