[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G92 E0 ;Reset Extruder
    # move to prime position 
    G1 X2 Y30 Z0.28 F5000.0 ;Move to start position
    G1 X2 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X3 Y200.0 Z0.28 F5000.0 ;Move to side a little
    G1 X3 Y50 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up

[gcode_macro PREPARE_CHAMBER]
description: Estabiliza a temperatura da câmara usando a mesa e o ventilador
gcode:
    # Parâmetros com valores padrão para ASA/ABS
    {% set BED_TEMP = params.BED_TEMP|default(110)|float %}
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(60)|float %}

    # 1. Previne o desligamento por inatividade (1 hora)
    SET_IDLE_TIMEOUT TIMEOUT=3600

    # 2. Liga a mesa sem travar a interface
    M140 S{BED_TEMP}

    # 3. Faz o homing e centraliza o bico para não derreter peças plásticas das laterais
    G28
    

    # 4. Liga o blower WS7040 no máximo para forçar a convecção do ar
   M106 S64

    # 5. Aguarda a mesa chegar na temperatura
    M190 S{BED_TEMP}

    # 6. Trava a execução até o ar atingir o alvo (Verifique o nome exato do sensor)
    TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={CHAMBER_TEMP}

    # 7. Restaura as configurações normais
    M106 S0
    SET_IDLE_TIMEOUT TIMEOUT=600
    
    # 8. Notifica no Mainsail que a máquina está dilatada e pronta
    M117 Camara estabilizada em {CHAMBER_TEMP}C!